{% load static%}

<div class="footer">
  <div class="footerlogo">
    <div class="col1">
      <div class="logo">
        <span><i class="briefcase icon"></i></span>
        <span>Job Portal</span>
      </div>
    </div>

    <h3 style="color: white">Connect With Us</h3>
    <div class="col3">
      <i class="twitter big icon"></i>
      <i class="instagram big icon"></i>
      <i class="linkedin big icon"></i>
      <i class="facebook big icon"></i>
    </div>
  </div>

  <div class="f1">
    <h2>Contact Information</h2>
    <div>
      <i class="map marker alternate icon"></i>
      <a
        href="https://www.google.com/maps/place/Malaviya+National+Institute+of+Technology+Jaipur+(MNIT)/@26.8634705,75.81852,15z/data=!4m5!3m4!1s0x396db66fe2879c7f:0xdfc843bf9b6f869a!8m2!3d26.8639724!4d75.8107776"
        >New Tower (F-16), Jaipur</a
      >
    </div>
    <div>
      <i class="envelope icon"></i>
      <a href="mailto: asmitk812@gmail.com">jobportal@gmail.com</a>
    </div>
    <div>
      <i class="phone volume icon"></i>
      <a href="">+91-11127892</a>
    </div>
    <div>
      <i class="globe icon"></i>
      <a href="{%url 'index'%}">www.jobportal.com</a>
    </div>
  </div>

  <div class="f2" style="padding: 10px">
    <div style="margin: 10px">Privacy Policy</div>
    <div style="margin: 10px">Terms & Conditions</div>
    <div style="margin: 10px">Help Center</div>
    <div style="margin: 10px">Report Issue</div>
  </div>
</div>
<center class="fcopy">&#169; Made by Asmit Kumar</center>
